option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: dijonmorrison@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "slate"
    AWS_REGION: us-east-1
    STARTUP_SIGNUP_TABLE: nodejs-tutorial
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
